<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
        
      </div>
      {{ end }}
    </div>

    <div>
      <p>Need help? Our tutors can...</p>
        <ul>
          <li> - Help you understand assignments</li>
          <li> - Guide you through SAT and ACT prep</li>
          <li> - Help check your work</li>
          <li> - Find answers to tough questions</li>
        </ul>
      <p>and so much more!</p>
    </div>
    <div class="tc">
      <a href="https://www.picktime.com/ec0d09cb-217d-4282-9abc-5a538a0600cf" class="btn raise" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/img/widgetButtons/BookingPage/picktime-book-online-gray.png" alt="Book an appointment with Tutor Noble"/></a>
      <!--<a href="/products" class="btn raise">See all products</a>-->
    </div>
  </div>
</div>
