<div class="mw7 center ph3 pv4">
	
 <!-- 

	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image1.image }}" alt="{{ .image1.alt }}">
					<h2>Math</h2>
					<p>Stuck on a tough problem? Having trouble understanding new formulas? Get help from our best math experts! Sign up for an appointment for one-on-one math tutoring.</p>
					<p>Get help with:</p>
					<ul>
						<li> - College algebra</li>
						<li> - Trigonometry</li>
						<li> - Pre calculus</li>
						<li> - Calculus</li>
						<li> - Calculus II</li>
					</ul>
					<p>Classes covered include (but are not limited to):</p>
					<p>MATH 097, MATH 109, MATH 110, MATH 111, MATH 112, MATH 113, MATH 1050, MATH 1055, MATH 1060, MATH 1080, MATH 1210, MATH 1220</p>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image2.image }}" alt="{{ .image2.alt }}">
				<h2>Chemistry</h2>
				<p>Got questions? Our tutors have answers! Sign up for an appointment for one-on-one help with the toughest problems and chemistry concepts.</p>
				<p>Get help with:</p>
				<ul>
				<li>Atomic and molecular structure</li>
				<li>Chemical reactions and stoichiometry</li>
				<li>Periodic properties of elements</li>
				<li>Electrochemistry</li>
				<li>Inorganic and Organic chemistry</li>
				</ul>
				<p>Classes covered include (but are not limited to):</p>
				<p>CHEM 100, CHEM 101, CHEM 102, CHEM 105, CHEM 106, CHEM 1010, CHEM 1110, CHEM 1210, CHEM 1220, CHEM 2310, CHEM 2315</p>
		</div>

		<div class="w-100 ph1-ns">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
				<h2>Physics</h2>
				<p>Don't let physics problems weigh you down, set up an appointment with our physics experts for concept walkthroughs, test prep, and more.</p>
				<p>Get help with:</p>
				<ul>
				<li>Linear circular and projectile motion</li>
				<li>Conservation of energy and momentum</li>
				<li>Waves</li>
				<li>Thermal physics</li>
				<li>Optics</li>
				<li>Special relativity</li>
				</ul>
				<p>Classes covered include (but are not limited to):</p>
				<p>PHY 101, PHY 105, PHY 106, PHY 121, PHY 123, PHYS 1010, PHYS 1100, PHYS 2010, PHYS 2020, PHYS 2210, PHYS 2220</p>
		</div>
		-->
	
	<div class="ph2-ns w-50-ns mb4">
					<img src="img/math.png" alt="" class="center db mb3" style="width: 240px">
						<h2>Math</h2>
						<p>Stuck on a tough problem? Having trouble understanding new formulas? Get help from our best math experts! Sign up for an appointment for one-on-one math tutoring.</p>
						<p>Get help with:</p>
						<ul>
							<li> - College algebra</li>
							<li> - Trigonometry</li>
							<li> - Pre calculus</li>
							<li> - Calculus</li>
							<li> - Calculus II</li>
						</ul>
						<p>Classes covered include (but are not limited to):</p>
						<p>MATH 097, MATH 109, MATH 110, MATH 111, MATH 112, MATH 113, MATH 1050, MATH 1055, MATH 1060, MATH 1080, MATH 1210, MATH 1220</p>
				</div>
		
	
	<div class="ph2-ns w-50-ns mb4">
					<img src="img/chemistry.png" alt="" class="center db mb3" style="width: 240px">
				<h2>Chemistry</h2>
				<p>Got questions? Our tutors have answers! Sign up for an appointment for one-on-one help with the toughest problems and chemistry concepts.</p>
				<p>Get help with:</p>
				<ul>
				<li> - Atomic and molecular structure</li>
				<li> - Chemical reactions and stoichiometry</li>
				<li> - Periodic properties of elements</li>
				<li> - Electrochemistry</li>
				<li> - Inorganic and Organic chemistry</li>
				</ul>
				<p>Classes covered include (but are not limited to):</p>
				<p>CHEM 100, CHEM 101, CHEM 102, CHEM 105, CHEM 106, CHEM 1010, CHEM 1110, CHEM 1210, CHEM 1220, CHEM 2310, CHEM 2315</p>
					<p> </p>
				</div>
		
	

<div class="ph2-ns w-50-ns mb4">
					<img src="img/physics.png" alt="" class="center db mb3" style="width: 240px">
						<h2>Physics</h2>
						<p>Don't let physics problems weigh you down, set up an appointment with our physics experts for concept walkthroughs, test prep, and more.</p>
						<p>Get help with:</p>
						<ul>
						<li> - Linear circular and projectile motion</li>
						<li> - Conservation of energy and momentum</li>
						<li> - Waves</li>
						<li> - Thermal physics</li>
						<li> - Optics</li>
						<li> - Special relativity</li>
						</ul>
						<p>Classes covered include (but are not limited to):</p>
						<p>PHY 101, PHY 105, PHY 106, PHY 121, PHY 123, PHYS 1010, PHYS 1100, PHYS 2010, PHYS 2020, PHYS 2210, PHYS 2220</p>
					<p> </p>
				</div>
		


</div>
