<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image1.image }}" alt="{{ .image1.alt }}">
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .image2.image }}" alt="{{ .image2.alt }}">
		</div>

		<div class="w-100 ph1-ns">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
				<h2>Physics</h2>
				<p>Don't let physics problems weigh you down, set up an appointment with our physics experts for concept walkthroughs, test prep, and more.</p>
				<p>Get help with:</p>
				<ul>
				<li>Linear circular and projectile motion</li>
				<li>Conservation of energy and momentum</li>
				<li>Waves</li>
				<li>Thermal physics</li>
				<li>Optics</li>
				<li>Special relativity</li>
				</ul>
				<p>Classes covered include (but are not limited to):</p>
				<p>PHY 101, PHY 105, PHY 106, PHY 121, PHY 123, PHYS 1010, PHYS 1100, PHYS 2010, PHYS 2020, PHYS 2210, PHYS 2220</p>
		</div>
	</div>

</div>
