<div class="bg-off-white pv4 ph3">

	<div class="mw7 center">

		<h2 class="f2 b lh-title mb3">{{.heading}}</h2>
		<p class="mw6">{{.description}}</p>

		<div class="flex-ns mhn2-ns mw7">
			{{ range .plans }}
			<div class="w-33-ns ph2">{{ partial "table-column" . }}</div>
			{{ end }}
		</div>
		<div class="tc">
		      <a href="https://www.picktime.com/ec0d09cb-217d-4282-9abc-5a538a0600cf" class="btn raise" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/img/widgetButtons/BookingPage/picktime-book-online-gray.png" alt="Book an appointment with Tutor Noble"/></a>
		    
		</div>

	</div>

</div>
